.footer {
	margin-top: auto;
	border: 1px solid $footer-border-color;
	background-color: $footer-background-color;

	.navbar {
		margin-bottom: 0;
		min-height: 5em;

		li {
			padding: 1em 0;
			margin: 0 1em;
		}
	}
}
