// Typography

$base-font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.4;

// Main colors
$lightred: #e57168;
$red: #AA0000;
$darkred: #e56359;
$pink: #e5837c;
$white: #ffffff;
$grey: #f6f8f8;
$darkgrey: #e0e5e6;

// Color the elements

$navbar-background-color: $lightred;
$navbar-border-color: $darkred;

$masthead-background-color: $pink;
$masthead-header-color: $white;

$navbar-link-color: $red;
$navbar-link-color-hover: $white;

$subtron-background-color: $grey;
$subtron-border-color: $darkgrey;

$bg-shade-background-color: $grey;
$bg-shade-border-color: $darkgrey;

$footer-background-color: $grey;
$footer-border-color: $darkgrey;
